<header
  [ngClass]="{ '-translate-y-full': isScrolledDown, 'navbar-transition': true }"
  class="w-full flex items-center justify-center fixed top-0 left-0 h-16 z-10 bg-gray-900"
>
  <div class="flex justify-center w-full">
    <div
      class="flex items-center justify-between flex-nowrap overflow-visible relative top-0 left-0"
    >
      <a href="">
        <img
          class="h-5 mr-4 block"
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
          alt="logo"
        />
      </a>
      <div class="justify-start mr-[12.5rem]">
        <ul class="flex flex-nowrap items-center">
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4 text-[1em]"
              >Movies</a
            >
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4 text-[1em]"
              >TV Shows</a
            >
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4 text-[1em]"
              >People</a
            >
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4 text-[1em]">More</a>
          </li>
        </ul>
      </div>
      <div class="justify-end ml-[12.5rem]">
        <ul class="flex flex-nowrap items-center">
          <li class="ml-4">
            <a
              href="#"
              class="text-white font-sans font-extrabold text-3xl mr-4"
              >+</a
            >
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4">EN</a>
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4"
              >Login</a
            >
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4"
              >Join TMDB</a
            >
          </li>
          <li class="ml-4">
            <a href="#" class="text-white font-sans font-semibold mr-4"
              ><img
                class="h-6 block absolute right-1"
                src="https://static.vecteezy.com/system/resources/previews/009/341/273/original/search-icon-sign-symbol-design-free-png.png"
                alt="search"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
