/* Transition Tabs */

img {
  display: inline-block;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  background-position: center center !important;
}

body{
  box-sizing: border-box !important;
}
